pandas  
pyarrow  
google-api-python-client
google-cloud-bigquery  
google-cloud-bigquery-storage
google-search-results
db-dtypes  
pandas_gbq
lxml
html5lib
beautifulsoup4
openai
jupyter
ipykernel
nbconvert
pycountry
numpy
praw
requests
beautifulsoup4
tqdm